@page "/bookings"

<style>
    .rz-panel-titlebar {
        flex-direction: row-reverse;
        justify-content: right;
    }
</style>


<PageTitle>Bookings</PageTitle>

<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Bookings" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        @if (!showCollapse)
        {
            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light"
                          Click="@ShowCollapse" Style="height:24px;padding:0px !important; min-height:18px;min-width:25px" />
        }
        @if (showPanels && selectedBookingId != 0 && PropParameterId == 0)
        {
            <RadzenColumn SizeMD="3">
                <div class="custom-sidebar @(isCollapsed ? "collapsed" : "expanded")">
                    <RadzenCard Style="margin-top: 1px; position: relative;padding:4px">

                        <!-- Remove/Hide Button inside the panel -->
                        <RadzenButton Icon="remove"
                                      Click="@HidePanel"
                                      ButtonStyle="ButtonStyle.Light"
                                      Style="position: absolute; top: 0px; right: 0px; padding:0px !important; min-height:18px;min-width:25px" />

                        <RadzenTabs>
                            <Tabs>
                                <RadzenTabsItem Text="Edit Info" style="align-self:end;">
                                    <EditBooking Id="@selectedBookingId"></EditBooking>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Tenant" style="margin-left: 3px; align-self:end;">
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </RadzenCard>
                </div>
            </RadzenColumn>
        }
        @if (PropParameterId == 0)
        {
            <RadzenColumn SizeMD="@(showPanels == false ? 12 : 9)">
                <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 0px !important;margin-bottom: 5px !important;padding:0px"
                    Expand=@(() => Change("Panel expanded")) 
                    Collapse=@(() => Change("Panel collapsed")) >
                    <RadzenDataGrid TItem="Booking"
                                    Data="@pagedBookings"
                                    Count="@totalCount"
                                    LoadData="@LoadData"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    AllowFiltering="true"
                                    FilterMode="FilterMode.Advanced"
                                    ShowPagingSummary="true"
                                    ColumnWidth="150px"
                                    PageSizeOptions="@(new int[]{10, 15, 20, 30})"
                                    PageSize="20"
                                    AllowColumnPicking="true"
                                    Density="Radzen.Density.Compact">
                            <Columns>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Id" Title="Id" Width="60px">
                                    <Template Context="item">
                                        <span Text="Click here" @onclick="() => ShowPanels(item.Id)" style="cursor: pointer; color: green; text-decoration: underline;">@item.Id</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Property.Name" Title="Property" Width="140px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom" Width="140px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Status" Title="Booking Status" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Notes" Title="Notes" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Nights" Title="Nights" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tax" Title="Tax" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tenant.Firstname" Title="Tenant" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="PropertySource.Source" Title="Property Source" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="TblService.ServiceName" Title="Tbl Service" Width="140px">
                                </RadzenDataGridColumn>
                                </Columns>
                        </RadzenDataGrid>
                </RadzenPanel>
            </RadzenColumn>
        }
        else
        {
            <RadzenColumn SizeMD="12">
                <RadzenDataGrid @ref="grid0" TItem="Booking"
                                Data="@pagedBookings"
                                Count="@totalCount"
                                LoadData="@LoadData"
                                AllowPaging="true"
                                AllowSorting="true"
                                AllowFiltering="true"
                                FilterMode="FilterMode.Advanced"
                                ShowPagingSummary="true"
                                ColumnWidth="150px"
                                PageSizeOptions="@(new int[]{5, 10, 20, 30})"
                                PageSize="20"
                                AllowColumnPicking="true"
                                Density="Radzen.Density.Compact">
                        <Columns>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Id" Title="Id" Width="60px">
                                <Template Context="item">
                                    <span Text="Click here" @onclick="() => ShowPanels(item.Id)" style="cursor: pointer; color: green; text-decoration: underline;">@item.Id</span>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking"  Property="Property.Name" Title="Property" Width="150px">
                            </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom" Width="140px">
                            </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Status" Title="Booking Status" Width="140px">
                            </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Notes" Title="Notes" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Nights" Title="Nights" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tax" Title="Tax" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tenant.Firstname" Title="Tenant" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="PropertySource.Notes" Title="Property Source" Width="140px">
                            </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="TblService.ServiceName" Title="Tbl Service" Width="140px">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
            </RadzenColumn>
        }
    </RadzenRow>
</RadzenStack>


    @if(showPanels)
    {
        <RadzenColumn SizeMD="12">
            <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 6px !important;margin-bottom: 5px !important; padding: 0px !important"
                Expand=@(() => Change("Panel expanded")) 
                Collapse=@(() => Change("Panel collapsed")) >
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Payments" Style="color:green;font-weight:600">
                              <BookingPayments Id="@selectedBookingId"></BookingPayments>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Booking History" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Add/Edit Credit Requests" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Checking in" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Tracked User Detail" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Notes" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Tasks" style="margin-left: 2px;color:green;font-weight:600">
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
            </RadzenPanel>
        </RadzenColumn>
    }