@page "/bookings"

<style>
    .rz-panel-titlebar {
        flex-direction: row-reverse;
        justify-content: right;
    }
</style>


<PageTitle>Bookings</PageTitle>

<RadzenStack>
    <RadzenRow>
        @if (!showCollapse)
        {
            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light"
                          Click="@ShowCollapse" Style="height:24px;padding:0px !important; min-height:18px;min-width:25px" />
        }
        @if (showPanels && selectedBookingId != 0 && PropParameterId == 0)
        {
            <RadzenColumn SizeMD="3">
                <div class="custom-sidebar @(isCollapsed ? "collapsed" : "expanded")">
                    <RadzenCard Style="margin-top: 1px; position: relative;">

                        <!-- Remove/Hide Button inside the panel -->
                        <RadzenButton Icon="remove"
                                      Click="@HidePanel"
                                      ButtonStyle="ButtonStyle.Light"
                                      Style="position: absolute; top: 0px; right: 0px; padding:0px !important; min-height:18px;min-width:25px" />

                        <RadzenTabs>
                            <Tabs>
                                <RadzenTabsItem Text="Edit Info" style="align-self:end;">
                                    <EditBooking Id="@selectedBookingId"></EditBooking>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Tenant" style="margin-left: 3px; align-self:end;">
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </RadzenCard>
                </div>
            </RadzenColumn>
        }
        @if (PropParameterId == 0)
        {
            <RadzenColumn SizeMD="@(showPanels == false ? 12 : 9)">
                <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 0px !important;margin-bottom: 5px !important"
                    Expand=@(() => Change("Panel expanded")) 
                    Collapse=@(() => Change("Panel collapsed")) >
                    <RadzenDataGrid TItem="Booking"
                                    Data="@pagedBookings"
                                    Count="@totalCount"
                                    LoadData="@LoadData"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    AllowFiltering="true"
                                    FilterMode="FilterMode.Advanced"
                                    ShowPagingSummary="true"
                                    ColumnWidth="150px"
                                    PageSizeOptions="@(new int[]{5, 10, 20, 30})"
                                    PageSize="10"
                                    AllowColumnPicking="true"
                                    Density="Radzen.Density.Compact">
                            <Columns>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Id" Title="Id" Width="60px">
                                    <Template Context="item">
                                        <span Text="Click here" @onclick="() => ShowPanels(item.Id)" style="cursor: pointer; color: green; text-decoration: none;">@item.Id</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Property.Name" Title="Property" Width="140px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom" Width="140px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Status" Title="Booking Status" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Notes" Title="Notes" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Nights" Title="Nights" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tax" Title="Tax" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tenant.Firstname" Title="Tenant" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="PropertySource.Source" Title="Property Source" Width="140px">
                                </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="TblService.ServiceName" Title="Tbl Service" Width="140px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="booking">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                            Shade="Shade.Lighter" Variant="Variant.Flat"
                                            Click=@(args => GridDeleteButtonClick(args, booking)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                                </Columns>
                        </RadzenDataGrid>
                </RadzenPanel>
            </RadzenColumn>
        }
        else
        {
            <RadzenColumn SizeMD="12">
                <RadzenDataGrid TItem="Booking"
                                Data="@pagedBookings"
                                Count="@totalCount"
                                LoadData="@LoadData"
                                AllowPaging="true"
                                AllowSorting="true"
                                AllowFiltering="true"
                                FilterMode="FilterMode.Advanced"
                                ShowPagingSummary="true"
                                ColumnWidth="150px"
                                PageSizeOptions="@(new int[]{5, 10, 20, 30})"
                                PageSize="10"
                                AllowColumnPicking="true"
                                Density="Radzen.Density.Compact">
                        <Columns>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Id" Title="Id" Width="60px">
                                <Template Context="item">
                                    <span Text="Click here" @onclick="() => ShowPanels(item.Id)" style="cursor: pointer; color: green; text-decoration: none;">@item.Id</span>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking"  Property="Property.Name" Title="Property" Width="150px">
                            </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom" Width="140px">
                            </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Status" Title="Booking Status" Width="140px">
                            </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Notes" Title="Notes" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Nights" Title="Nights" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tax" Title="Tax" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="Tenant.Firstname" Title="Tenant" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="PropertySource.Notes" Title="Property Source" Width="140px">
                            </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Property="TblService.ServiceName" Title="Tbl Service" Width="140px">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Sortable="false" Width="60px" TextAlign="TextAlign.Center">
                                <Template Context="booking">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                        Shade="Shade.Lighter" Variant="Variant.Flat"
                                        Click=@(args => GridDeleteButtonClick(args, booking)) @onclick:stopPropagation="true" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
            </RadzenColumn>
        }
    </RadzenRow>
</RadzenStack>


<RadzenRow>
        @if(showPanels)
        {
        <RadzenColumn SizeMD="12">
            <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 7px !important;margin-bottom: 5px !important; padding: 0px !important"
                Expand=@(() => Change("Panel expanded")) 
                Collapse=@(() => Change("Panel collapsed")) >
                <RadzenCard style="margin-top: 1rem;">
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Payments">
                                <EditBooking Id="@selectedBookingId"></EditBooking>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Booking History" style="margin-left: 2px;">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Add/Edit Credit Requests" style="margin-left: 2px;">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Checking in" style="margin-left: 2px;">
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenCard>
            </RadzenPanel>
        </RadzenColumn>
        }
</RadzenRow>