@page "/properties"

<style>
    .rz-panel-titlebar {
        flex-direction: row-reverse;
        justify-content: right;
    }
</style>


 <PageTitle>Properties</PageTitle> 

<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Properties" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        @if (!showCollapse)
        {
            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light"
                      Click="@ShowCollapse" Style="height:24px;padding:0px !important; min-height:18px;min-width:25px"  />
        }
        @if (showleftPanel && selectedBookingId != 0)
        {
            <RadzenColumn SizeMD="3">
               <div class="custom-sidebar @(isCollapsed ? "collapsed" : "expanded")">
                    <RadzenCard Style="margin-top: 1px; position: relative;padding:4px">

                        <!-- Remove/Hide Button inside the panel -->
                        <RadzenButton Icon="remove"
                        Click="@HidePanel"
                        ButtonStyle="ButtonStyle.Light" 
                        Style="position: absolute; top: 0px; right: 0px; padding:0px !important; min-height:18px;min-width:25px" />
                        <RadzenTabs>
                            <Tabs>
                                <RadzenTabsItem Text="Edit Info">
                                    <EditBooking Id="@selectedBookingId"></EditBooking>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Tenant" style="margin-left: 3px;">
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Notes" style="margin-left: 3px;">
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </RadzenCard>
                </div>
            </RadzenColumn>
        }
        <RadzenColumn SizeMD="@(showleftPanel == false ? 12 : 9)">
            <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 0px !important;margin-bottom: 5px !important;padding:0px"
                Expand=@(() => Change("Panel expanded")) 
                Collapse=@(() => Change("Panel collapsed")) >
                    <RadzenDataGrid TItem="Property"
                                    Data="@pagedProperties"
                                    Count="@totalCount"
                                    LoadData="@LoadData"
                                    AllowColumnResize="true"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    RowSelect="@EditRow"
                                    AllowFiltering="true"
                                    FilterMode="FilterMode.Advanced"
                                    ShowPagingSummary="true"
                                    ColumnWidth="150px"
                                    PageSizeOptions="@(new int[]{10, 15, 20, 30})"
                                    PageSize="20"
                                    AllowColumnPicking="true"
                                    Density="Radzen.Density.Compact">
                    <Columns>
                       <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Name" Title="Name" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Filterable="false" Property="Propid" Title="Propid" Width="70px">
                            <Template Context="item">
                                <span Text="Click here" @onclick="() => ShowTabs(item.Propid)" @oncontextmenu=@(e => ShowContextMenuWithItems(e, item)) @oncontextmenu:preventDefault="true"
                                      style="cursor: pointer; color: green; text-decoration: underline;">@item.Propid</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Address" Title="Address" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="City" Title="City" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Filterable="false" Property="Zip" Title="Zip" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Agent.FirstName" Title="Owner" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Agent.Cell" Title="Phone" Width="140px">
                        </RadzenDataGridColumn>                      
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Code" Title="Code" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Alarmcode" Title="Alarm" Width="140px">
                        </RadzenDataGridColumn>                        
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Sleeps" Title="Sleeps" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Property="Bedrooms" Title="Bedrooms" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Filterable="false" Property="Baths" Title="Baths" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Filterable="false" Property="Status1.Status1" Title="Status" Width="140px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Property" Filterable="false" Property="PropertyCleaner.Firstname" Title="Property Cleaner" Width="140px">
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenPanel>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

<RadzenRow>
@*     <RadzenColumn SizeMD="4">
    </RadzenColumn> *@
    <RadzenColumn SizeMD="12">
        @* @if (isRates)
        {
        <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" 
            Expand=@(() => Change("Panel expanded")) 
            Collapse=@(() => Change("Panel collapsed")) >
            <RadzenCard style="margin-top: 1rem;">
              <RatesTest></RatesTest>
            </RadzenCard>
        </RadzenPanel>
        } *@

        @if (showTabs)
        {
            <RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" style="margin-top: 5px !important;margin-bottom: 0px !important;padding:0px !important" 
                Expand=@(() => Change("Panel expanded")) 
                Collapse=@(() => Change("Panel collapsed"))>
                <RadzenTabs Change=@OnTabChange>
                    <Tabs>
                        <RadzenTabsItem Text="Property Details" Style="color:green;font-weight:600">
                            <PropertyDetails Id="@selectedPropId"></PropertyDetails>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Description" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropDescTab)
                            {
                                <PropertyDescription Id="@selectedPropId"></PropertyDescription>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Home Info" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropHomeInfoTab)
                            {
                                <PropertyHomeInfo Id="@selectedPropId"></PropertyHomeInfo>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Property Cost" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropCostTab)
                            {
                                <PropertyCost Id="@selectedPropId"></PropertyCost>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Rates" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropRatesTab)
                            {
                                <RatesTest Id="@selectedPropId"></RatesTest>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Bookings" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropBookingsTab)
                            {
                                <Bookings Id="@selectedPropId"></Bookings>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Tasks" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropTasksTab)
                            {
                                <PropertyTasks Id="@selectedPropId"></PropertyTasks>
                            }                            
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Annual" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropAnnualTab)
                            {
                                <PropertyAnnualLogs Id="@selectedPropId"></PropertyAnnualLogs>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Owner Comm" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropOwnerTab)
                            {
                                <Destination.Components.Pages.CommunicationComponents.OwnerCommunications></Destination.Components.Pages.CommunicationComponents.OwnerCommunications>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Improvements" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropImprovementsTab)
                            {
                                <PropertyImprovements Id="@selectedPropId"></PropertyImprovements>
                            }                            
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Home Team" style="margin-left: 2px;color:green;font-weight:600">
                            @if (isPropHomeTeamTab)
                            {
                                <Destination.Components.Pages.HomeTeamComponents.HomeTeamForm Id="@selectedPropId"></Destination.Components.Pages.HomeTeamComponents.HomeTeamForm>
                            }
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenPanel>
        }
    </RadzenColumn>
</RadzenRow>