@page "/rates-test"


<RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom:10px">
    <RadzenColumn Size="12" SizeMD="6">
        <RadzenText Text="@propName" TextStyle="TextStyle.H6" TagName="TagName.H1" style="margin:0; font-size:13px" />
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="6">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
@if (propertyRate == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@propertyRate" Submit="@((PropertyRate args) => { Submit(args); })">
        <RadzenColumn Size="12">
            <RadzenFieldset Text="Destination Big Bear Rates - Add/Edit" Style="padding: 16px; border-radius: 8px;">
                <RadzenStack Gap="11px">
                    <!-- Row 1: Winter Weekday/Weekend + Propid + PreThank -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Propid" Component="Propid" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Propid" Name="Propid" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Pre Thank" Component="PreThank" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.PreThank" Name="PreThank" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="MLK" Component="Mlk114" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Mlk114" Name="Mlk114" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Next July 4th" Component="NextJuly4th" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.NextJuly4th" Name="NextJuly4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 2: Spring Weekday/Weekend + Thanks + Prechristmas -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekday" Component="SpringWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.SpringWeekday" Name="SpringWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekend" Component="SpringWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.SpringWeekend" Name="SpringWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Thanks" Component="Thanks" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Thanks" Name="Thanks" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Prechristmas" Component="Prechristmas" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Prechristmas" Name="Prechristmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 3: Summer Weekday/Weekend + Christmas + NewYears -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekday" Component="SummerWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.SummerWeekday" Name="SummerWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekend" Component="SummerWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.SummerWeekend" Name="SummerWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmas" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Christmas" Name="Christmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years" Component="NewYears" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.NewYears" Name="NewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 4: Fall Weekday/Weekend + PostNewYears + MemorialDay -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekday" Component="FallWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.FallWeekday" Name="FallWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekend" Component="FallWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.FallWeekend" Name="FallWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Post New Years" Component="PostNewYears" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.PostNewYears" Name="PostNewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Memorial" Component="MemorialDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.MemorialDay" Name="MemorialDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 5: March Weekday/Weekend + July4th + LaborDay -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekday" Component="MarchWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.MarchWeekday" Name="MarchWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekend" Component="MarchWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.MarchWeekend" Name="MarchWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="July 4th" Component="July4th" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.July4th" Name="July4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Labor" Component="LaborDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.LaborDay" Name="LaborDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 6: April Weekday/Weekend + PresidentsDay + UserId -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekday" Component="AprilWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.AprilWeekday" Name="AprilWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekend" Component="AprilWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.AprilWeekend" Name="AprilWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Presidents" Component="PresidentsDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.PresidentsDay" Name="PresidentsDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="User Id" Component="UserId" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.UserId" Name="UserId" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 7: June Weekday/Weekend + DecEarlyWeekday + DecEarlyWeekend -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekday" Component="JuneWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.JuneWeekday" Name="JuneWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekend" Component="JuneWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.JuneWeekend" Name="JuneWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekday" Component="DecEarlyWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.DecEarlyWeekday" Name="DecEarlyWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekend" Component="DecEarlyWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.DecEarlyWeekend" Name="DecEarlyWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 8: Specific Dates (_1222, _1223, _1224, Christmasday) -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 22" Component="_1222" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate._1222" Name="_1222" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 23" Component="_1223" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate._1223" Name="_1223" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 24" Component="_1224" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate._1224" Name="_1224" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmasday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Christmasday" Name="Christmasday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 9: Holidays and Specific Dates -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Eve" Component="NewYearsEve" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.NewYearsEve" Name="NewYearsEve" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Day" Component="NewYearsday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.NewYearsday" Name="NewYearsday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 2" Component="Jan2" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Jan2" Name="Jan2" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 3" Component="Jan3" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.Jan3" Name="Jan3" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 10: Remaining Fields -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekday" Component="WinterWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.WinterWeekday" Name="WinterWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekend" Component="WinterWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@propertyRate.WinterWeekend" Name="WinterWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Buttons -->
                    <RadzenRow Style="margin-bottom: 6px; margin-top: 20px;align-self: self-end;">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Save" Variant="Variant.Flat" Style="margin-right: 8px; padding: 8px 16px;" />
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Cancel" Variant="Variant.Flat" Style="padding: 8px 16px;" />
                    </RadzenRow>
                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>
    </RadzenTemplateForm>


    <RadzenTemplateForm Data="@vrboRates" Submit="@((PropertyRatesVrbo args) => { SubmitVRBO(args); })">
        <RadzenColumn Size="12">
            <RadzenFieldset Text="VRBO Property Rates - Add/Edit" Style="padding: 16px; border-radius: 8px;">
                <RadzenStack Gap="11px">
                    <!-- Row 1: Winter Weekday/Weekend + Propid + PreThank -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Propid" Component="Propid" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Propid" Name="Propid" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Pre Thank" Component="PreThank" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.PreThank" Name="PreThank" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="MLK" Component="Mlk114" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Mlk114" Name="Mlk114" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Next July 4th" Component="NextJuly4th" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.NextJuly4th" Name="NextJuly4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 2: Spring Weekday/Weekend + Thanks + Prechristmas -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekday" Component="SpringWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.SpringWeekday" Name="SpringWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekend" Component="SpringWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.SpringWeekend" Name="SpringWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Thanks" Component="Thanks" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Thanks" Name="Thanks" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Prechristmas" Component="Prechristmas" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Prechristmas" Name="Prechristmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 3: Summer Weekday/Weekend + Christmas + NewYears -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekday" Component="SummerWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.SummerWeekday" Name="SummerWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekend" Component="SummerWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.SummerWeekend" Name="SummerWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmas" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Christmas" Name="Christmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years" Component="NewYears" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.NewYears" Name="NewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 4: Fall Weekday/Weekend + PostNewYears + MemorialDay -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekday" Component="FallWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.FallWeekday" Name="FallWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekend" Component="FallWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.FallWeekend" Name="FallWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Post New Years" Component="PostNewYears" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.PostNewYears" Name="PostNewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Memorial" Component="MemorialDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.MemorialDay" Name="MemorialDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 5: March Weekday/Weekend + July4th + LaborDay -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekday" Component="MarchWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.MarchWeekday" Name="MarchWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekend" Component="MarchWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.MarchWeekend" Name="MarchWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="July 4th" Component="July4th" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.July4th" Name="July4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Labor" Component="LaborDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.LaborDay" Name="LaborDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 6: April Weekday/Weekend + PresidentsDay + UserId -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekday" Component="AprilWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.AprilWeekday" Name="AprilWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekend" Component="AprilWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.AprilWeekend" Name="AprilWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Presidents" Component="PresidentsDay" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.PresidentsDay" Name="PresidentsDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="User Id" Component="UserId" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.UserId" Name="UserId" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 7: June Weekday/Weekend + DecEarlyWeekday + DecEarlyWeekend -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekday" Component="JuneWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.JuneWeekday" Name="JuneWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekend" Component="JuneWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.JuneWeekend" Name="JuneWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekday" Component="DecEarlyWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.DecEarlyWeekday" Name="DecEarlyWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekend" Component="DecEarlyWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.DecEarlyWeekend" Name="DecEarlyWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 8: Specific Dates (_1222, _1223, _1224, Christmasday) -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 22" Component="_1222" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates._1222" Name="_1222" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 23" Component="_1223" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates._1223" Name="_1223" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 24" Component="_1224" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates._1224" Name="_1224" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmasday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Christmasday" Name="Christmasday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 9: Holidays and Specific Dates -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Eve" Component="NewYearsEve" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.NewYearsEve" Name="NewYearsEve" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Day" Component="NewYearsday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.NewYearsday" Name="NewYearsday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 2" Component="Jan2" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Jan2" Name="Jan2" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 3" Component="Jan3" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.Jan3" Name="Jan3" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 10: Remaining Fields -->
                    <RadzenRow AlignItems="AlignItems.Center" Style="margin-bottom: 11px;">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekday" Component="WinterWeekday" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.WinterWeekday" Name="WinterWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekend" Component="WinterWeekend" Style="font-size: 11px; font-weight: 400;" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric ShowUpDown="false" Style="width: 90%; border-radius: 4px;" @bind-Value="@vrboRates.WinterWeekend" Name="WinterWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Buttons -->
                    <RadzenRow Style="margin-bottom: 6px; margin-top: 20px;align-self: self-end;">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Save" Variant="Variant.Flat" Style="margin-right: 8px; padding: 8px 16px;" />
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Cancel" Variant="Variant.Flat" Style="padding: 8px 16px;" />
                    </RadzenRow>
                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>
    </RadzenTemplateForm>
   <RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            @* <RadzenText Text="Bookings" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" /> *@
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                @* <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" /> *@
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
@*     <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@(bookings)" TItem="Destination.Models.destinationTest.Booking">
            <Columns>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Property.AirbnbTitle" Title="Property">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Color" Title="Booking Status">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Notes" Title="Notes">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Nights" Title="Nights">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Tax" Title="Tax">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Tenant.LastPageVisited" Title="Tenant">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="PropertySource.Notes" Title="Property Source">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="TblService.ServiceName" Title="Tbl Service">
                </RadzenDataGridColumn>
                @* <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="booking">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, booking)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn> *@
@*             </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow> *@
</RadzenStack>
}