@page "/rates-test"

@if (propertyRate == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@propertyRate">
        <RadzenColumn Size="12">
            <RadzenFieldset Text="Destination Big Bear Rates">
                <RadzenStack Gap="8px">
                    <!-- Row 1 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Property -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Propid" Component="Propid" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Propid" Name="Propid" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- PreThank -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Pre Thank" Component="PreThank" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PreThank" Name="PreThank" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Thanks -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Thanks" Component="Thanks" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Thanks" Name="Thanks" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- WinterWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekday" Component="WinterWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.WinterWeekday" Name="WinterWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Prechristmas -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Prechristmas" Component="Prechristmas" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Prechristmas" Name="Prechristmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 2 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Christmas -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmas" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Christmas" Name="Christmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYears -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years" Component="NewYears" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYears" Name="NewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- PostNewYears -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Post New Years" Component="PostNewYears" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PostNewYears" Name="PostNewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                     <!-- MayWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="May Weekday" Component="MayWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MayWeekday" Name="MayWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- SummerWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekend" Component="SummerWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SummerWeekend" Name="SummerWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 3 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- MemorialDay -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Memorial" Component="MemorialDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MemorialDay" Name="MemorialDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- July4th -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="July 4th" Component="July4th" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.July4th" Name="July4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- LaborDay -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Labor" Component="LaborDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.LaborDay" Name="LaborDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- SpringWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekend" Component="SpringWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SpringWeekend" Name="SpringWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- SpringWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekday" Component="SpringWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SpringWeekday" Name="SpringWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 4 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Presidents" Component="PresidentsDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PresidentsDay" Name="PresidentsDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- UserId -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="User Id" Component="UserId" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.UserId" Name="UserId" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- FallWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekend" Component="FallWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.FallWeekend" Name="FallWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- FallWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekday" Component="FallWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.FallWeekday" Name="FallWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- WinterWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekend" Component="WinterWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.WinterWeekend" Name="WinterWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 5 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- tw (1222) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 22" Component="_1222" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1222" Name="_1222" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- MarchWeekday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekday" Component="MarchWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MarchWeekday" Name="MarchWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- DecEarlyWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekend" Component="DecEarlyWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.DecEarlyWeekend" Name="DecEarlyWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- DecEarlyWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekday" Component="DecEarlyWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.DecEarlyWeekday" Name="DecEarlyWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- MarchWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekend" Component="MarchWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MarchWeekend" Name="MarchWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 6 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- th (1223) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 23" Component="_1223" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1223" Name="_1223" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- fo (1224) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 24" Component="_1224" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1224" Name="_1224" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Christmasday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmasday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Christmasday" Name="Christmasday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYearsEve -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Eve" Component="NewYearsEve" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYearsEve" Name="NewYearsEve" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYearsday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Day" Component="NewYearsday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYearsday" Name="NewYearsday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 7 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Jan2 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 2" Component="Jan2" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Jan2" Name="Jan2" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Jan3 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 3" Component="Jan3" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Jan3" Name="Jan3" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- AprilWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekend" Component="AprilWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.AprilWeekend" Name="AprilWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- AprilWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekday" Component="AprilWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.AprilWeekday" Name="AprilWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- MayWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="May Weekend" Component="MayWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MayWeekend" Name="MayWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 8 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- MLK114 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="MLK" Component="MLK114" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Mlk114" Name="Mlk114" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- JuneWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekend" Component="JuneWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.JuneWeekend" Name="JuneWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- JuneWeekday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekday" Component="JuneWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.JuneWeekday" Name="JuneWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NextJuly4th -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Next July 4th" Component="NextJuly4th" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NextJuly4th" Name="NextJuly4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- SummerWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekday" Component="SummerWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SummerWeekday" Name="SummerWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>
    </RadzenTemplateForm>

    <RadzenTemplateForm Data="@propertyRate">
        <RadzenColumn Size="12">
            <RadzenFieldset Text="VRBO Property Rates">
                <RadzenStack Gap="8px">
                    <!-- Row 1 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Property -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Propid" Component="Propid" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Propid" Name="Propid" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- PreThank -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Pre Thank" Component="PreThank" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PreThank" Name="PreThank" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Thanks -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Thanks" Component="Thanks" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Thanks" Name="Thanks" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- WinterWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekday" Component="WinterWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.WinterWeekday" Name="WinterWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Prechristmas -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Prechristmas" Component="Prechristmas" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Prechristmas" Name="Prechristmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 2 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Christmas -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmas" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Christmas" Name="Christmas" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYears -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years" Component="NewYears" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYears" Name="NewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- PostNewYears -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Post New Years" Component="PostNewYears" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PostNewYears" Name="PostNewYears" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                     <!-- MayWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="May Weekday" Component="MayWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MayWeekday" Name="MayWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- SummerWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekend" Component="SummerWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SummerWeekend" Name="SummerWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 3 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- MemorialDay -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Memorial" Component="MemorialDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MemorialDay" Name="MemorialDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- July4th -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="July 4th" Component="July4th" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.July4th" Name="July4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- LaborDay -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Labor" Component="LaborDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.LaborDay" Name="LaborDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- SpringWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekend" Component="SpringWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SpringWeekend" Name="SpringWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- SpringWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Spring Weekday" Component="SpringWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SpringWeekday" Name="SpringWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 4 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Presidents" Component="PresidentsDay" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.PresidentsDay" Name="PresidentsDay" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- UserId -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="User Id" Component="UserId" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.UserId" Name="UserId" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- FallWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekend" Component="FallWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.FallWeekend" Name="FallWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- FallWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Fall Weekday" Component="FallWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.FallWeekday" Name="FallWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- WinterWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Winter Weekend" Component="WinterWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.WinterWeekend" Name="WinterWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 5 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- tw (1222) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 22" Component="_1222" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1222" Name="_1222" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- MarchWeekday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekday" Component="MarchWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MarchWeekday" Name="MarchWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- DecEarlyWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekend" Component="DecEarlyWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.DecEarlyWeekend" Name="DecEarlyWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- DecEarlyWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec Early Weekday" Component="DecEarlyWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.DecEarlyWeekday" Name="DecEarlyWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- MarchWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="March Weekend" Component="MarchWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MarchWeekend" Name="MarchWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 6 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- th (1223) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 23" Component="_1223" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1223" Name="_1223" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- fo (1224) -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Dec 24" Component="_1224" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate._1224" Name="_1224" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Christmasday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Christmas" Component="Christmasday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Christmasday" Name="Christmasday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYearsEve -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Eve" Component="NewYearsEve" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYearsEve" Name="NewYearsEve" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NewYearsday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="New Years Day" Component="NewYearsday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NewYearsday" Name="NewYearsday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 7 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- Jan2 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 2" Component="Jan2" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Jan2" Name="Jan2" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- Jan3 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Jan 3" Component="Jan3" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Jan3" Name="Jan3" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- AprilWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekend" Component="AprilWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.AprilWeekend" Name="AprilWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- AprilWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="April Weekday" Component="AprilWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.AprilWeekday" Name="AprilWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- MayWeekend -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="May Weekend" Component="MayWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.MayWeekend" Name="MayWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                    <!-- Row 8 -->
                    <RadzenRow AlignItems="AlignItems.Center">
                        <!-- MLK114 -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="MLK" Component="MLK114" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.Mlk114" Name="Mlk114" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- JuneWeekend -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekend" Component="JuneWeekend" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.JuneWeekend" Name="JuneWeekend" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- JuneWeekday -->
                        <RadzenColumn Size="12" SizeSM="2">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="June Weekday" Component="JuneWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.JuneWeekday" Name="JuneWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <!-- NextJuly4th -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Next July 4th" Component="NextJuly4th" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.NextJuly4th" Name="NextJuly4th" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    <!-- SummerWeekday -->
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeSM="5" class="rz-text-align-end">
                                    <RadzenLabel Text="Summer Weekday" Component="SummerWeekday" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeSM="7">
                                    <RadzenNumeric Disabled Style="width: 90%;" @bind-Value="@propertyRate.SummerWeekday" Name="SummerWeekday" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>
    </RadzenTemplateForm>




    <RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            @* <RadzenText Text="Bookings" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" /> *@
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                @* <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" /> *@
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@(bookings)" TItem="Destination.Models.destinationTest.Booking">
            <Columns>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Property.AirbnbTitle" Title="Property">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Datefrom" Title="Datefrom">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Dateto" Title="Dateto">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="BookingStatus.Color" Title="Booking Status">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Notes" Title="Notes">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Nights" Title="Nights">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Tax" Title="Tax">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="Tenant.LastPageVisited" Title="Tenant">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="PropertySource.Notes" Title="Property Source">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Property="TblService.ServiceName" Title="Tbl Service">
                </RadzenDataGridColumn>
                @* <RadzenDataGridColumn TItem="Destination.Models.destinationTest.Booking" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="booking">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, booking)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn> *@
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
}